@import "./css/navbar.scss";
@import "./css/Homepage.scss";
@import "./css/Shop.scss";
@import "./css/Buttons.scss";
@import "./css/AboutUs.scss";
@import "./css/Event.scss";
@import "./css/Domes.scss";
@import "./css/Build.scss";
@import "./css/Blog.scss";
@import "./css/More.scss";

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
